{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "project": ["./tsconfig.json"],
    "ecmaFeatures": { "jsx": true }
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": ["error"],
    "eqeqeq": ["error"],
    "max-len": ["error", {
      "code": 80,
      "ignoreStrings": true,
      "ignoreTrailingComments": true
    }],
    "import/extensions": ["off"],
    "import/no-unresolved": ["error", { "ignore": ["^@/*"] }],
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "none"
      },
      "singleline": {
        "delimiter": "semi"
      }
    }],
    "@typescript-eslint/no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}